[include fluidd.cfg]
#[include mainsail.cfg]
[include timelapse.cfg]

######################
####   Hardware   ####
######################
[include Config/Hardware/Steppers.cfg]
[include Config/Hardware/Printer_MCU.cfg]
[include Config/Hardware/Extruder.cfg]
[include Config/Hardware/Bed_Heater.cfg]
[include Config/Hardware/LED.cfg]
[include Config/Hardware/klipperExpander.cfg]
[include Config/Hardware/Thermistors.cfg]
[include Config/Hardware/Fans.cfg]
[include Config/Hardware/Adxl.cfg]

####################
####   Macros   ####
####################
[include Macros/Hardware_Functions/air_filter_timer.cfg]
[include Macros/Hardware_Functions/Fan_Control.cfg]
[include Macros/Hardware_Functions/Heater_Overrides.cfg]
[include Macros/Hardware_Functions/LEDs.cfg]
[include Macros/Print/homing.cfg]
[include Macros/Print/base_macros.cfg]
[include Macros/Print/print_macros.cfg]
[include Macros/Print/z_tilt_adjust.cfg]
[include Macros/Helpers/Filament_Macros.cfg]
[include Macros/Helpers/Parking.cfg]
[include Macros/Helpers/safety_macros.cfg]
[include Macros/Helpers/power.cfg]
[include Macros/Calibration/calibration.cfg]
[include Macros/Calibration/input_shaper_calibration.cfg]
[include Macros/Calibration/vibrations_calibration.cfg]
[include Macros/Calibration/test_speed.cfg]
[include KAMP_Settings.cfg]
[include Macros/Hardware_Functions/Kirigami_led_effects.cfg]

#####################
####   Scripts   ####
#####################

[include scripts/shell_commands.cfg]

# Enable arcs support
[gcode_arcs]
resolution: 0.1

## To be used with BED_SCREWS_ADJUST
[bed_screws]
screw1: 60,5
screw1_name: front screw
screw2: 5,115
screw2_name: back left
screw3: 115,115
screw3_name: back right

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_z]
#*# position_endstop = 115.050
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 61.735
#*# pid_ki = 2.274
#*# pid_kd = 419.027
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.932
#*# pid_ki = 1.614
#*# pid_kd = 96.301
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 66.0
#*# shaper_type_y = zv
#*# shaper_freq_y = 58.2
