[gcode_macro input_shaping]
gcode:
    {% if "xyz" in printer.toolhead.homed_axes %}
    M117 
  {% else %}
    M117 Go Home first...
    M118 Go Home first...
    G28		
  {% endif %}
    M117 Input shaping for X... Calculating... 
    M118 Input shaping for X... Calculating... 
    TEST_RESONANCES AXIS=X
    
    M117 Input shaping for Y... Calculating... 
    M118 Input shaping for Y... Calculating... 
    TEST_RESONANCES AXIS=Y

    RUN_SHELL_COMMAND CMD=shaper_calibrate_x
    RUN_SHELL_COMMAND CMD=shaper_calibrate_y
   
    M117 Turn OFF motors 
    M118 Turn OFF motors 
    M84 #turn off motors

[gcode_shell_command shaper_calibrate_x]
 #  command: ~/klipper/scripts/calibrate_shaper.py /tmp/resonances_x_*.csv -o /tmp/shaper_calibrate_x.png     # with the * got issues
command: sh /home/pi/printer_data/config/scripts/generate-shaper-graph-x.sh
timeout: 60.
verbose: True


[gcode_shell_command shaper_calibrate_y]
command: sh /home/pi/printer_data/config/scripts/generate-shaper-graph-y.sh
timeout: 60.
verbose: True


[gcode_macro calc_belt]
description: Belts calibration
gcode:
    {% if "xyz" in printer.toolhead.homed_axes %}
      M117 
    {% else %}
      M117 Go Home first...
      M118 Go Home first...
    G28		
   {% endif %}
    M117 Input Calcutalte X Belt tension... 
    M118 Input Calcutalte X Belt tension... 
    TEST_RESONANCES AXIS=1,1 OUTPUT=raw_data

    M117 Input Calcutalte Y Belt tension... 
    M118 Input Calcutalte Y Belt tension... 
    TEST_RESONANCES AXIS=1,-1 OUTPUT=raw_data

    RUN_SHELL_COMMAND CMD=shell_belt_tension
 
    M117 Turn OFF motors 
    M118 Turn OFF motors 
    M84 #turn off motors

[gcode_shell_command shell_belt_tension]
command: sh /home/pi/printer_data/config/scripts/generate-belt-tension-graph.sh
timeout: 60.
verbose: True


[gcode_macro USB]
gcode:
    RUN_SHELL_COMMAND CMD=USB

[gcode_shell_command USB]
command: sh /home/pi/printer_data/config/scripts/USB_Check.sh
timeout: 10.
verbose: True

[gcode_shell_command backup_cfg]
 command: /usr/bin/bash /home/pi/printer_data/config/scripts/autocommit.sh
 timeout: 30
 verbose: True

[gcode_macro BACKUP_CFG]
description: Backs up config directory GitHub
gcode:
    RUN_SHELL_COMMAND CMD=backup_cfg
    
