#####################################################################
#	Macros
#####################################################################
[gcode_macro START_PRINT]
###Optimized for Prusaslicer - Following code to be used in START G_CODE
# start_print B=[bed_temperature] B0=[first_layer_bed_temperature] H0=[first_layer_temperature] L0=[first_layer_height] L=[layer_height] S=[travel_speed] V=[infill_speed] M=[filament_type]
### where:
## B ={material_bed_temperature}            BED Temp for layer1 and all the print
## B0={material_bed_temperature_layer_0}    BED Temp ford layer0
## H0={material_print_temperature_layer_0}  Hotend temp layer0
## L0={layer_height_0}                      Layer0 height 
## L= {layer_height}                        Layers standard height
## S ={speed_travel}                        Speed travel during non-print moves
## V ={speed_print}                         Speed during print moves
## M ={material_type}                       MATERIAL (PLA, PETG, TPU, ASA, ABS)

gcode: 
  {% set B =params.B|default(60) %} 
  {% set B0= params.B0|default(60) %}      
  {% set H0= params.H0|default(225) %}      
  {% set L= params.L|default(0.2) %}      
  {% set L0= params.L0|default(0.25) %}      
  {% set S= params.S|default(100) %}      #Speed
  {% set V= params.V|default(75)  %}      #Speed
  {% set M= params.M|default(PLA)  %}     #Material 
  
  set_led_red
  save_last_file

  M117 material: {M}...
  M118 material: {M}...
  M117 Print Speed: {V}...
  M118 Print Speed: {V}...
  M117 Travel Speed: {S}...
  M118 Travel Speed: {S}...

  
  #{% if "ASA" in M or "ABS" in M  %}
  #  M117 Setting input shaper for ASA/ABS...
  #  M118 Setting input shaper for ASA/ABS...
  ###  SET_INPUT_SHAPER SHAPER_TYPE_X=MZV SHAPER_FREQ_X=74.2 SHAPER_TYPE_Y=ZV SHAPER_FREQ_Y=52.4
  #{% else %}
  #  M117 Setting input shaper for other material ...
  #  M118 Setting input shaper for other material ...
  ###  SET_INPUT_SHAPER SHAPER_TYPE_X=MZV SHAPER_FREQ_X=77.0 SHAPER_TYPE_Y=ZV SHAPER_FREQ_Y=53.6
  #{% endif %}

### NEVERMORE MANAGEMENT ###

  #{% if params.M == "ASA" or params.M ==  "ABS" %}
    {% if "ASA" in M or "ABS" in M or "HIPS" in M  %}
    M117 Setting Nevermore Filter for ASA/ABS/HIPS...
    M118 Setting Nevermore Filter for ASA/ABS/HIPS...
   # SET_FAN_SPEED FAN=nevermore SPEED=0.6
  {% else %}
    M117 Setting Nevermore Filter for other material ...
    M118 Setting Nevermore Filter for other material ...
   # SET_FAN_SPEED FAN=nevermore SPEED=0.0
  {% endif %}

##### {% set mv = 250 - v %}
##### SET_PRESSURE_ADVANCE ADVANCE={mv*0.005} ; set Pressure Advance
#####  {% set AREA_START= params.AREA_START|default(0,0) %}
#####  {% set AREA_END=params.AREA_END|default(0,0) %}
  ###G29 B{B}
  ###[SQUARE_CORNER_VELOCITY=<value>]
  #{% set pressure= 0.120 %}
  #{% set corner= 5 %}
  
### SET_PRESSURE_ADVANCE EXTRUDER=extruder ADVANCE=0.120
  #{% if V|int > 50  %}
  #  {% set pressure= 0.116 %}
  #{% endif %}
  #{% if V|int > 60  %}
  #  {% set pressure= 0.1145 %}
  #{% endif %}
  #{% if V|int > 70 %}
  #  {% set pressure= 0.113 %}
  #{% endif %}
  #{% if V|int > 80  %}
  #  {% set pressure= 0.1115 %}
  #  {% set corner= 5.3 %}
  #{% endif %}
  #{% if V|int > 90  %}
  #  {% set pressure= 0.110 %}
  #  {% set corner= 5.6 %}
  #{% endif %}
  #{% if V|int > 100  %}
  #  {% set pressure= 0.105 %}
  #  {% set corner= 6 %}
  #{% endif %}
  #{% if V|int > 110 %}
  #  {% set pressure= 0.100 %}
  # {% set corner= 6.3 %}
  #{% endif %}
  #{% if V|int > 120  %}
  #  {% set pressure= 0.096 %}
  #  {% set corner= 6.6 %}
  #{% endif %}
  #{% if V|int > 130 %}
  #  {% set pressure= 0.093 %}
  #  {% set corner= 7 %}
  #{% endif %}
  #{% if V|int > 140 %}
  #  {% set pressure= 0.090 %}
  #  {% set corner= 7.4 %}
  #{% endif %}
  #{% if V|int > 150  %}
  #  {% set pressure= 0.086 %}
  #  {% set corner= 7.8 %}
  #{% endif %}
  #{% if V|int > 160  %}
  #  {% set pressure= 0.083 %}
  #  {% set corner= 8.5 %}
  #{% endif %}
  #{% if V|int > 170 %}
  #  {% set pressure= 0.080 %}
  #  {% set corner= 9 %}
  #{% endif %}
  #{% if V|int > 180  %}
  #  {% set pressure= 0.078 %}
  #  {% set corner= 9.5 %}
  #{% endif %}
  #{% if V|int > 190  %}
  #  {% set pressure= 0.076 %}
  #  {% set corner= 10 %}
  #{% endif %}
  #{% if V|int > 200 %}
  #  {% set pressure= 0.074 %}
  #  {% set corner= 10.5 %}
  #{% endif %}
  #{% if V|int > 210 %}
  #  {% set pressure= 0.072 %}
  #  {% set corner= 11.5 %}
  #{% endif %}
  #{% if V|int > 220 %}
  #  {% set pressure= 0.070 %}
  #  {% set corner= 12 %}
  #{% endif %}
  #{% if V|int > 230 %}
  #  {% set pressure= 0.068 %}
  #  {% set corner= 12.5 %}
  #{% endif %}
  #{% if V|int > 240 %}
  #  {% set pressure= 0.066 %}
  #  {% set corner= 13 %}
  #{% endif %}
  #{% if V|int > 250 %}
  #  {% set pressure= 0.064 %}
  #  {% set corner= 14 %}
  #{% endif %}

  #SET_PRESSURE_ADVANCE EXTRUDER=extruder ADVANCE={pressure|float}
  #SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={corner|float}

###########################################
 
  ### variable_parameter_AREA_START : 0,0
  ###variable_parameter_AREA_END : 0,0

  ## UPDATE_DELAYED_GCODE ID=_done_shutdown_timer DURATION=0
    
  ;;;inizo stampa
  G21 ;metric values
  G91 ; relative movements
  M83
  G90 ;absolute positioning
  M82 ;set extruder to absolute mode
  M107 ;start with the fan off
  M117 Homing X-Y...
  M118 Homing X-Y...

  G28 X0 Y0
  G4 P1000

  M117 Heating up BED and HotEND ...
  M118 Heating up BED and HotEND ...
  M140 S{B0} ; heat Bed senza attendere
  M104 S{H0}
  
  check_temp
    
  M117 Waiting BED Temp ...
  M118 Waiting BED Temp ...
  NEOPIXEL_DISPLAY LED=KirigamiPixel TYPE=extruder_temp MODE=glow
  M190 S{B0} ;set temp bed and wait...
  
  M117 Waiting HotEND Temp ...
  M118 Waiting HotEND Temp ...
  #set_led_red
  M109 S{H0} ;set temp hotend and wait...
  set_led_ciano

  M117 Homing Z ...
  M118 Homing Z ...

 #####G28
  G28 Z0

######################################################################################
  ###SCREWS_TILT_CALCULATE MAX_DEVIATION=0.3
  ####BED_MESH_CALIBRATE AREA_START={params.AREA_START|default("0,0")} AREA_END={params.AREA_END|default("0,0")}
######################################################################################
    
  PRIME_BLOB S={S}

  set_led_white
  #SET_FILAMENT_SENSOR SENSOR=sensore_filamento ENABLE=1
  ;;;fine inizio stampa
  CLEAR_PAUSE
  M117 Printing ...
  M118 Printing ...
  
  ############################################################################
  #save_last_file
  SAVE_VARIABLE VARIABLE=was_interrupted VALUE=True
  ############################################################################ 


[gcode_macro PRIME_BLOB]
description: Prints a primeblob, used internally, if configured, as part of the START_PRINT macro. Slower than PRIME_LINE but much more effective.
gcode:
  SAVE_GCODE_STATE NAME=prime_blob_state
  M117 Nozzle cleaning with prime blob ...
  M118 Nozzle cleaning with prime blob ...
  
  ###{% set speed= params.S|default(100)|float %}      #edit to your park position
  {% set speed= params.S|default(100)|float * 60  %}

  # Absolute positioning
  G90 
  # Relative extrusion
  M83
  # Lift 5 mm
  G1 Z5 F3000
  # move to blob position
  G1 X{printer.toolhead.axis_minimum.x + 8} Y{printer.toolhead.axis_maximum.y - 15} Z0.5 F{speed}
  # Extrude a blob
  G1 F60 E20
  # 40% fan
  M106 S102 
  # Move the extruder up by 5mm while extruding, breaks away from blob
  G1 Z5 F100 E5  
  # Move to wipe position, but keep extruding so the wipe is attached to blob
  G1 F200 Y{printer.toolhead.axis_maximum.y - 40} E1 
  # Go down diagonally while extruding
  # Broken down in z moves under 2mm as a workaround for a tuning tower test.
  # The tuning tower command thinks a new print has been started when z moves over 2mm and aborts.
  G1 F200 Y{printer.toolhead.axis_maximum.y - 45} Z3.8 E0.5
  G1 F200 Y{printer.toolhead.axis_maximum.y - 50} Z2.6 E0.5
  G1 F200 Y{printer.toolhead.axis_maximum.y - 55} Z1.4 E0.5
  G1 F200 Y{printer.toolhead.axis_maximum.y - 60} Z0.2 E0.5
  # 0% fan
  M106 S0
  # small wipe line
  G1 F200 Y{printer.toolhead.axis_maximum.y - 65} Z0.2 E0.6 
  # Break away wipe
  G1 F{speed} Y{printer.toolhead.axis_maximum.y - 100}
  RESTORE_GCODE_STATE NAME=prime_blob_state

[gcode_macro END_PRINT]
###come usare con PrusaSlicer per esempio: END_PRINT S={travel_speed}
gcode:
  {% set S= params.S|default(100) %}      #edit to your park position
  ;;;fine stampa
  
  set_led_green

  M117 Cooling down ...
  M118 Cooling down ...

  G91 ;relative positioning
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G1 Z+5 F{S} ;move Z up  
      G1 E-3 F300 ;retract the filament a bit before lifting the nozzle, to release some of the pressure
      G1 E-5 F{S} ;retract filament even more
    {% else %}
      G1 Z+5 F{S} ;move Z up e
      {action_respond_info("Estrusore freddo!!!")}
    {% endif %}  

  ###G28 X0 Y0 ;move X/Y to min endstops, so the head is out of the way
  G90 ;Absolute positionning
  
  G1 X10 F3000 ;Present print
  G1 Y110 F3000 ;Present print  
  G1 X100 F3000 ;Present print
  M104 S0 ; turn off extruder
  
  # Turn off bed, extruder and fan
  M140 S0
  M104 S0
  M106 S0
   
  M84 ; disable motors
  M107 ; Fan off
  SET_FAN_SPEED FAN=nevermore SPEED=0.0
  
  #BEEP_CONFIRM
 
  ################################################################ 
  clear_last_file
  SAVE_VARIABLE VARIABLE=was_interrupted VALUE=False
  ################################################################

  TIMELAPSE_RENDER
  UPDATE_DELAYED_GCODE ID=_done_shutdown_timer DURATION=1
  M117 Off countdown ...
  M118 Off countdown ...
  ;;;the end

[delayed_gcode _done_shutdown_timer]
initial_duration: 0
gcode:
  {% if printer.extruder.temperature > 50 %}
    UPDATE_DELAYED_GCODE ID=_done_shutdown_timer DURATION=1
    ###m117 ciclo2...
  {% else %}

    UPDATE_DELAYED_GCODE ID=_done_shutdown_timer DURATION=0
    
    ###SAVE_VARIABLE VARIABLE=dariavviare VALUE=1
    ########Z_OFFSET_APPLY_ENDSTOP ; if you have a usual endstop.
    ###Z_OFFSET_APPLY_PROBE ; if you have a BLtouch or similar)
    ###SAVE_CONFIG
    M117 Shutdown ...
    M118 Shutdown ...
    ###spegni_stampante
    incrementa
  {% endif %}

	
[gcode_macro LOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E30 F300                    ; load
   G1 E30 F150                    ; prime nozzle with filament
   M82                            ; set extruder to absolute
    
[gcode_macro UNLOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E10 F300                    ; extrude a little to soften tip
   G1 E-80 F1800                  ; retract some, but not too much or it will jam
   M82                            ; set extruder to absolute

[gcode_macro PURGE]
gcode:
      M117 PURGING FILAMENT...
      M118 PURGING FILAMENT...
      G91
      G1 E20.0 F250
      G90

[gcode_macro PID_CALIBRATE_BED_50]
gcode:
    PID_CALIBRATE HEATER=heater_bed TARGET=50

[gcode_macro PID_CALIBRATE_Heater_220]
gcode:
    PID_CALIBRATE HEATER=extruder TARGET=220

[gcode_macro check_temp]
gcode:
  {% set count = 450 %}  ###1200  a 1 secondo 450=7.5 minuti...
  {% for c in range(count) %}
   # templedcolor_timer 
  {% endfor %}  

######################################################################
# Filament Change
######################################################################

# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.


[gcode_macro M600]
gcode:
#    {% set X = params.X|default(50)|float %}
    {% set X = printer.toolhead.axis_maximum.x|float - 1.0 %}
#    {% set Y = params.Y|default(0)|float %}
    {% set Y = printer.toolhead.axis_maximum.y|float - 1.0 %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state
    

[gcode_macro M900]
gcode:
	# Parameters
	{% set pa = params.K|default(0.11)|float %}
  M117 Now at {pa}
	SET_PRESSURE_ADVANCE ADVANCE={pa}
  M117 Now at {pa}



#######################################################################



# This is to capture the unknown m201 command that cura adds.
[gcode_macro M201]
gcode:

# This is to capture the unknown m203 command that cura adds.
[gcode_macro M203]
gcode:

# This is to capture the unknown command that cura adds.
[gcode_macro m500]
gcode:


# This is to capture the unknown command that cura adds.
[gcode_macro m75]
gcode:

#######################################################################################################

[gcode_macro check_temp]
gcode:
  {% set count = 450 %}  ###1200  a 1 secondo 450=7.5 minuti...
  {% for c in range(count) %}
   # templedcolor_timer 
  {% endfor %} 

[delayed_gcode loop2secondi]
initial_duration: 5  
gcode:
#  #M105
#  #{action_respond_info("E0: %.1f% (printer.extruder.temperature) + " B0: %.1f" % (printer.heater_bed.temperature) )}
#  M118  T={(printer.extruder.temperature)|round(1)}/{(printer.extruder.target)|round(1)} B={printer.heater_bed.temperature|round(1)}/{printer.heater_bed.target|round(1)}
#  ###M118  S={printer.configfile.settings.display.display_group} 
#  #m118 Estrusore:{printer.extruder.target}
#  UPDATE_DELAYED_GCODE ID=loop2secondi DURATION=2


[gcode_macro incrementa]
variable_start: 31
gcode:
   UPDATE_DELAYED_GCODE ID=_timer DURATION=1

[delayed_gcode _timer]
initial_duration: 0
gcode:
  {% set curr = printer["gcode_macro incrementa"].start|int - 1 %}
  ###{% set fine = 10|int %}  ### > 300 signigica 5 minuti, 600=10 minuti
  SET_GCODE_VARIABLE MACRO=incrementa VARIABLE=start VALUE={curr}
  {% if curr < 1 %}
    UPDATE_DELAYED_GCODE ID=_timer DURATION=0
    M117 Switch off printer!!!
    M118 Switch off printer!!!
    PRINTER_OFF
  {% else %}
    UPDATE_DELAYED_GCODE ID=_timer DURATION=1
    M117 Switching off printer in:... {curr} seconds
    M118 Switching off printer in:... {curr} seconds
  {% endif %}

[gcode_macro global]

variable_extruder_temp: 0

###variable_r: 0.4
###variable_g: 0.4
###variable_b: 0.4
###variable_w: 0.4
###variable_true: 0
gcode:
  M117 Loading variables 
  M118 Loading variables

[gcode_macro M486]
gcode:
  # Parameters known to M486 are as follows:
  #   [C<flag>] Cancel the current object
  #   [P<index>] Cancel the object with the given index
  #   [S<index>] Set the index of the current object.
  #       If the object with the given index has been canceled, this will cause
  #       the firmware to skip to the next object. The value -1 is used to
  #       indicate something that isn’t an object and shouldn’t be skipped.
  #   [T<count>] Reset the state and set the number of objects
  #   [U<index>] Un-cancel the object with the given index. This command will be
  #       ignored if the object has already been skipped

  {% if 'exclude_object' not in printer %}
    {action_raise_error("[exclude_object] is not enabled")}
  {% endif %}

  {% if 'T' in params %}
    EXCLUDE_OBJECT RESET=1

    {% for i in range(params.T | int) %}
      EXCLUDE_OBJECT_DEFINE NAME={i}
    {% endfor %}
  {% endif %}

  {% if 'C' in params %}
    EXCLUDE_OBJECT CURRENT=1
  {% endif %}

  {% if 'P' in params %}
    EXCLUDE_OBJECT NAME={params.P}
  {% endif %}

  {% if 'S' in params %}
    {% if params.S == '-1' %}
      {% if printer.exclude_object.current_object %}
        EXCLUDE_OBJECT_END NAME={printer.exclude_object.current_object}
      {% endif %}
    {% else %}
      EXCLUDE_OBJECT_START NAME={params.S}
    {% endif %}
  {% endif %}

  {% if 'U' in params %}
    EXCLUDE_OBJECT RESET=1 NAME={params.U}
  {% endif %}

 